* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto, sans-serif;
    background-color: #f1f1f1;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.preserve-format {
    white-space: pre-wrap;
}

.header nav {
    position: fixed;
    width: 100%;
    background-color: #0066b2;
    color: #fff;
    z-index: 1000;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
}

.navbar-left .nav-link.logo-container {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.navbar-left .logo {
    width: 40px;
    margin-right: 10px;
}

.navbar-center .search-bar img {
    width: 20px;
    height: 20px;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-center .search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.navbar-center .search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.navbar-center .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-right .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    right: 20px;
    width: 350px;
    height: calc(100% - 80px);
    background-color: #918e8e8a;
    padding: 20px 0 10px 0;
    overflow-y: auto;
    z-index: 900;
}

.small-box {
    background-color: #e0e0e0;
    margin-top: 20px;
    padding: 20px;
    max-width: 270px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.tag {
    width: 20px;
}

.tag-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tags-title {
    background-color: #498EFF;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 50;
    width: 100%;
    height: 20;
    box-sizing: border-box;
}

.link-list {
    list-style-type: none;
    padding-top: 5px;
}

.link-list li {
    padding: 8px 0;
}

#subheading {
    padding-top: 100px;
    margin-top: -60px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}

.main {
    display: flex;
    padding: 20px;
    margin-left: 350px;
    padding-top: 45px;
}

.welcome-box {
    border-radius: 10px;
    background-color: #e0e0e0;
    padding: 20px 20px 5px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-box p {
    color: #555;
    font-size: 16px;
}


p {
    padding-top: 10px;
}

.content {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h1 {
    color: #0066b2;
    margin-bottom: 10px;
}

.content h2 {
    margin-bottom: 10px;
}

.content p,
.content ul {
    line-height: 1.5;
    margin-bottom: 20px;
}

ul.no-number {
    list-style-type: none;
}

ul.numbered {
    list-style-type: decimal;
    padding-left: 30px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1000px;
    background: #fff;
    padding: 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: calc(100vh - 120px);
    overflow: auto;
    margin-top: 20px;
}

.container .text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile-container-wrapper {
    position: relative;
    padding-top: 20px;
    height: auto;
    margin-top: 5%;
}

.container form .form-row {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form .form-row .input-data {
    margin: 15px 0;
    position: relative;
    width: 100%;
}


/*  */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-right: 30px;
    height: auto;
    gap: 40px;
    margin: 20px 90px;
}

.main-container .text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.table-container {
    flex: 1;
    background-color: #f9f9f9;
    margin-left: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    /* margin-left: 20px; */
    flex: 0.6;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.manage {
    border-collapse: collapse;
    padding: 10px;
}

.thead th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #ddd;
}
.manage td {
    padding: 10px 20px;
}
.manage tr:nth-child(even){background-color: #f2f2f2;}

.manage tr:hover {background-color: #ddd;}


.history-table {
    padding-top: 20px;
    border-collapse: collapse;
}

.history-table td {
    padding: 10px 20px;
}

.history-table tr:nth-child(even){background-color: #f2f2f2;}

.history-table tr:hover {background-color: #ddd;}

.input-data input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
    overflow: hidden;
    height: auto;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    top: -20px;
    font-size: 14px;
    background: #fff;
    padding: 0 4px;
    color: #666;
    transition: all 0.3s ease;
}

.input-data .underline {
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: transparent;
}

.input-data input:focus,
.textarea textarea:focus,
.input-data select:focus {
    border-color: #3498db;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #3498db;
    outline: none;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
}

.submit-btn .input-data {
    height: auto;
    width: auto;
}

.submit-btn .input-data input {
    padding: 10px 20px;
    background: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn .input-data input:hover {
    background: #217dbb;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    color: white;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    background-color: green; 
    text-decoration: none;
}

/* .add {
    display: inline-block;
    text-decoration: none;
    color: white;
} */

.btn-red {
    background-color: #e63946;
}

.btn-red:hover {
    background-color: #d62828;
}

.btn-blue {
    background-color: #007bff;
}

.btn-blue:hover {
    background-color: #0056b3;
}

.btn-green {
    background-color: #28a745;
}

.btn-green:hover {
    background-color: #218838;
}

.btn-gray {
    background-color: gray;
}

.btn-gray:hover {
    background-color: lightslategrey;
}





.profile-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table td {
    padding: 8px 10px;
    vertical-align: top;
}

.profile-table td:first-child {
    font-weight: bold;
    text-align: left;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 50px;
}


.search-content-page {
    padding-top: 80px;
    margin: 0 20px;
}

.search-content {
    padding: 20px;
    margin: 50px 60px 10px 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wiki-pemda-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px 40px;
}

.wiki-pemda-item {
    background-color: #d3d3d3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
}

.wiki-pemda-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.search {
    font-size: 18px;
    font-weight: bold;
    color: #0066b2;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    color: #d3d3d3;
}

.last-updated,
.description {
    font-size: 14px;
}

.last-updated {
    text-align: right;
}

@media (max-width: 991px) {
    .wiki-pemda-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .wiki-pemda-container {
        grid-template-columns: 1fr;
    }
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    background-color: #f9f6f6;
    margin-left: 350px;
}

.footer-logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}

.logo {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}